Chapter 8 -  Groupby Operations: Split-Apply-Combine

In [2]:
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv('C:/Users/franj/notebooks/pandas for everyone/pandas-for-everyone/data/gapminder.tsv', sep='\t')
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [4]:
# calculate the average life expectancy for each year
avg_life_exp_by_year = df.groupby('year')['lifeExp'].mean()
print(avg_life_exp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [5]:
# get the unique values of the year column
years = df.year.unique()
print(years)

[1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007]

In [6]:
# subset the data for the year 1952
y1952 = df.loc[df.year == 1952, :]
print(y1952)

                 country continent  year  lifeExp       pop    gdpPercap
0            Afghanistan      Asia  1952   28.801   8425333   779.445314
12               Albania    Europe  1952   55.230   1282697  1601.056136
24               Algeria    Africa  1952   43.077   9279525  2449.008185
36                Angola    Africa  1952   30.015   4232095  3520.610273
48             Argentina  Americas  1952   62.485  17876956  5911.315053
...                  ...       ...   ...      ...       ...          ...
1644             Vietnam      Asia  1952   40.412  26246839   605.066492
1656  West Bank and Gaza      Asia  1952   43.160   1030585  1515.592329
1668         Yemen, Rep.      Asia  1952   32.548   4963829   781.717576
1680              Zambia    Africa  1952   42.038   2672000  1147.388831
1692            Zimbabwe    Africa  1952   48.451   3080907   406.884115

[142 rows x 6 columns]

In [7]:
y1952_mean = y1952["lifeExp"].mean()
print(y1952_mean)

49.057619718309866

In [8]:
# group by continent and describe each
continent_describe = df.groupby('continent')['lifeExp'].describe()
print(continent_describe)

           count       mean        std     min       25%      50%       75%  \
continent
Africa     624.0  48.865330   9.150210  23.599  42.37250  47.7920  54.41150
Americas   300.0  64.658737   9.345088  37.579  58.41000  67.0480  71.69950
Asia       396.0  60.064903  11.864532  28.801  51.42625  61.7915  69.50525
Europe     360.0  71.903686   5.433178  43.585  69.57000  72.2410  75.45050
Oceania     24.0  74.326208   3.795611  69.120  71.20500  73.6650  77.55250

              max
continent
Africa     76.442
Americas   80.653
Asia       82.603
Europe     81.757
Oceania    81.235

In [9]:
import numpy as np

# calculate the average life expectancy by continent using np.mean
continent_mean = df.groupby('continent')['lifeExp'].agg(np.mean)
print(continent_mean)

continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64

In [10]:
def my_mean(values):
    n = len(values)
    sum = 0
    for value in values:
        sum += value
    return sum / n

In [11]:
# use custom function to agg
agg_my_mean = df.groupby('continent')['lifeExp'].agg(my_mean)
print(agg_my_mean)

continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64

In [12]:
def my_mean_diff(values, diff_value):
    n = len(values)
    sum = 0
    for value in values:
        sum += value
    mean = sum / n
    return (mean - diff_value)

# calculate the global average life expectancy
global_mean = df['lifeExp'].mean()
print(global_mean)

59.474439366197174

In [13]:
# custom aggregation function with multiple parameters
agg_mean_diff = df.groupby('year')['lifeExp'].agg(my_mean_diff, diff_value = global_mean)
print(agg_mean_diff)

year
1952   -10.416820
1957    -7.967038
1962    -5.865190
1967    -3.796150
1972    -1.827053
1977     0.095718
1982     2.058758
1987     3.738173
1992     4.685899
1997     5.540237
2002     6.220483
2007     7.532983
Name: lifeExp, dtype: float64

In [14]:
# calculate the count, mean, and std deviation of life expectancy by continent
gdf = (df.groupby("year")["lifeExp"].agg([np.count_nonzero, np.mean, np.std]))
print(gdf)

      count_nonzero       mean        std
year
1952            142  49.057620  12.225956
1957            142  51.507401  12.231286
1962            142  53.609249  12.097245
1967            142  55.678290  11.718858
1972            142  57.647386  11.381953
1977            142  59.570157  11.227229
1982            142  61.533197  10.770618
1987            142  63.212613  10.556285
1992            142  64.160338  11.227380
1997            142  65.014676  11.559439
2002            142  65.694923  12.279823
2007            142  67.007423  12.073021

In [15]:
# using a dict in .agg
# dataframe
gdf_dict = df.groupby("year").agg({
    "lifeExp": "mean",
    "pop": "median",
    "gdpPercap": "median"
})
print(gdf_dict)

        lifeExp         pop    gdpPercap
year
1952  49.057620   3943953.0  1968.528344
1957  51.507401   4282942.0  2173.220291
1962  53.609249   4686039.5  2335.439533
1967  55.678290   5170175.5  2678.334740
1972  57.647386   5877996.5  3339.129407
1977  59.570157   6404036.5  3798.609244
1982  61.533197   7007320.0  4216.228428
1987  63.212613   7774861.5  4280.300366
1992  64.160338   8688686.5  4386.085502
1997  65.014676   9735063.5  4781.825478
2002  65.694923  10372918.5  5319.804524
2007  67.007423  10517531.0  6124.371108

In [16]:
# series
gdf = (df.groupby("year")["lifeExp"].agg([np.count_nonzero, np.mean, np.std]).rename(columns = {"count_nonzero": "count", "mean": "avg", "std": "std_dev"}).reset_index())
print(gdf)

    year  count        avg    std_dev
0   1952    142  49.057620  12.225956
1   1957    142  51.507401  12.231286
2   1962    142  53.609249  12.097245
3   1967    142  55.678290  11.718858
4   1972    142  57.647386  11.381953
5   1977    142  59.570157  11.227229
6   1982    142  61.533197  10.770618
7   1987    142  63.212613  10.556285
8   1992    142  64.160338  11.227380
9   1997    142  65.014676  11.559439
10  2002    142  65.694923  12.279823
11  2007    142  67.007423  12.073021

In [17]:
# z-score
def my_zscore(x):
    return (x - x.mean()) / x.std()

In [18]:
transform_z = df.groupby("year")["lifeExp"].transform(my_zscore)
print(transform_z)

0      -1.656854
1      -1.731249
2      -1.786543
3      -1.848157
4      -1.894173
          ...
1699   -0.081621
1700   -0.336974
1701   -1.574962
1702   -2.093346
1703   -1.948180
Name: lifeExp, Length: 1704, dtype: float64

In [19]:
from scipy.stats import zscore

# z-score using scipy
sp_z_grouped = df.groupby("year")["lifeExp"].transform(zscore)

print(sp_z_grouped)

0      -1.662719
1      -1.737377
2      -1.792867
3      -1.854699
4      -1.900878
          ...
1699   -0.081910
1700   -0.338167
1701   -1.580537
1702   -2.100756
1703   -1.955077
Name: lifeExp, Length: 1704, dtype: float64

In [20]:
tips = sns.load_dataset('tips')

print(tips.shape)

(244, 7)

In [21]:
# look at the frequency counts for the table size
print(tips['size'].value_counts())

size
2    156
3     38
4     37
5      5
1      4
6      4
Name: count, dtype: int64

In [22]:
tips_filtered = tips.groupby('size').filter(lambda x: x['size'].count() >= 30)

In [23]:
print(tips_filtered.shape)

(231, 7)

In [24]:
print(tips_filtered['size'].value_counts())

size
2    156
3     38
4     37
Name: count, dtype: int64

In [25]:
tips_10 = sns.load_dataset('tips').sample(10, random_state=24)
print(tips_10)

     total_bill   tip     sex smoker   day    time  size
103       22.42  3.48  Female    Yes   Sat  Dinner     2
215       12.90  1.10  Female    Yes   Sat  Dinner     2
144       16.43  2.30  Female     No  Thur   Lunch     2
68        20.23  2.01    Male     No   Sat  Dinner     2
112       38.07  4.00    Male     No   Sun  Dinner     3
151       13.13  2.00    Male     No   Sun  Dinner     2
108       18.24  3.76    Male     No   Sat  Dinner     2
127       14.52  2.00  Female     No  Thur   Lunch     2
25        17.81  2.34    Male     No   Sat  Dinner     4
77        27.20  4.00    Male     No  Thur   Lunch     4

In [26]:
grouped = tips_10.groupby("sex")

print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000263F3BFE310>

In [27]:
# see the actual groups of the groupby
print(grouped.groups)

{'Male': [68, 112, 151, 108, 25, 77], 'Female': [103, 215, 144, 127]}

In [29]:
# get the female group
female = grouped.get_group("Female")
print(female)

     total_bill   tip     sex smoker   day    time  size
103       22.42  3.48  Female    Yes   Sat  Dinner     2
215       12.90  1.10  Female    Yes   Sat  Dinner     2
144       16.43  2.30  Female     No  Thur   Lunch     2
127       14.52  2.00  Female     No  Thur   Lunch     2

In [30]:
for sex_group in grouped:
    print(sex_group)

('Male',      total_bill   tip   sex smoker   day    time  size
68        20.23  2.01  Male     No   Sat  Dinner     2
112       38.07  4.00  Male     No   Sun  Dinner     3
151       13.13  2.00  Male     No   Sun  Dinner     2
108       18.24  3.76  Male     No   Sat  Dinner     2
25        17.81  2.34  Male     No   Sat  Dinner     4
77        27.20  4.00  Male     No  Thur   Lunch     4)
('Female',      total_bill   tip     sex smoker   day    time  size
103       22.42  3.48  Female    Yes   Sat  Dinner     2
215       12.90  1.10  Female    Yes   Sat  Dinner     2
144       16.43  2.30  Female     No  Thur   Lunch     2
127       14.52  2.00  Female     No  Thur   Lunch     2)

In [31]:
for sex_group in grouped:
    # get the type of the object (tuple)
    print(f'the type is: {type(sex_group)}\n')

    # get the length of the object (2 elements)
    print(f'the length is: {len(sex_group)}\n')

    # get the first element
    first_element = sex_group[0]
    print(f'the first element is: {first_element}\n')

    # the type of the first element (string)
    print(f'it has a type of: {type(sex_group[0])}\n')

    # get the second element
    second_element = sex_group[1]
    print(f'the second element is:\n{second_element}\n')

    # get the type of the second element (dataframe)
    print(f'it has a type of: {type(second_element)}\n')

    # print what we have
    print(f'what we have:')
    print(sex_group)
    
    # stop after first iteration
    break

the type is: <class 'tuple'>

the length is: 2

the first element is: Male

it has a type of: <class 'str'>

the second element is:
     total_bill   tip   sex smoker   day    time  size
68        20.23  2.01  Male     No   Sat  Dinner     2
112       38.07  4.00  Male     No   Sun  Dinner     3
151       13.13  2.00  Male     No   Sun  Dinner     2
108       18.24  3.76  Male     No   Sat  Dinner     2
25        17.81  2.34  Male     No   Sat  Dinner     4
77        27.20  4.00  Male     No  Thur   Lunch     4

it has a type of: <class 'pandas.core.frame.DataFrame'>

what we have:
('Male',      total_bill   tip   sex smoker   day    time  size
68        20.23  2.01  Male     No   Sat  Dinner     2
112       38.07  4.00  Male     No   Sun  Dinner     3
151       13.13  2.00  Male     No   Sun  Dinner     2
108       18.24  3.76  Male     No   Sat  Dinner     2
25        17.81  2.34  Male     No   Sat  Dinner     4
77        27.20  4.00  Male     No  Thur   Lunch     4)